.forgot-page {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot-card {
    width: 25%;
    border: 1px solid #e0e0e2;
    padding: 2rem;
    border-radius: 10px;
}

.forgot-card div .forgot-title {
    font-family: 'Architects Daughter', cursive;
    color: red;
    text-align: center;
    margin: 0 0 3rem 0;
    font-weight: bold;
}

.forgot-card .forgot-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.forgot-card .forgot-content h4 {
    margin: 0 0 1rem 0;
}

.forgot-card .forgot-content .forgot-form-content label {
    display: block;
    margin: 0.7rem 0;
    font-size: 14px;
}

.forgot-card .forgot-content .forgot-form-content input {
    width: 300px;
    padding: 0.5rem;
    border: 1px solid #e0e0e2;
    background-color: #fff;
    border-radius: 8px;
    font-family: 'iranSans';
}

.forgot-card .forgot-content .forgot-form-content button {
    margin: 1rem 0;
    text-align: center;
    display: block;
    width: 300px;
    border: none;
    padding: 1rem 0;
    border-radius: 8px;
    background-color: #ef394e;
    color: #fff;
    font-family: 'iranSans';
    cursor: pointer;
}

.forgot-card .forgot-content .for-login {
    width: 100%;
    text-align: center;
    font-size: 13px;
}



/* firts bigger size after that small size */

@media(max-width:1400px) {
    .forgot-card {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .forgot-card .forgot-content .forgot-form-content button {
        width: 500px;
    }

    .forgot-card .forgot-content .forgot-form-content input {
        width: 500px;
    }
}

@media(max-width:678px) {
    .forgot-card .forgot-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .forgot-card {
        width: 95%;
    }

    .forgot-card .forgot-content .forgot-form-content button {
        width: 300px;
    }

    .forgot-card .forgot-content .forgot-form-content input {
        width: 300px;
    }

    .forgot-page {
        height: 105vh !important;
    }
}

@media(max-height:678px) {
    .forgot-page {
        height: 100%;
    }
}